[submodule "tensorflow-char-rnn"]
	path = tensorflow-char-rnn
	url = https://github.com/tgjohnst/tensorflow-char-rnn
[submodule "data/source/beer/open-beer-database/open-beer-database-dumps"]
	path = data/source/beer/open-beer-database/open-beer-database-dumps
	url = https://github.com/brewdega/open-beer-database-dumps
